*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    background: crimson;
    font-family: 'windows',sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: cornflowerblue;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: black;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
list-style: none;
display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
color: cornflowerblue;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    background: url("images/raihan.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'windows',sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 70px;
}
.home .home-content .text-2{
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: color 0.3s ease;
}
.home .home-content a:hover{
    color:crimson;
    background: none;
}
.home .home-content .text-2 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content .text-1 span{
    color: crimson;
    font-weight: 500;
}
/*about section */
section{
    padding: 100px 0;
}
.about, .skills{
    font-family: 'poppins',sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family:'ubuntu',sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);

}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}

@media(max-width: 1104px){
    .home.max-width{
        margin-left: 0px;
        
    }
    @media(max-width: 991px){
        .max-width{
            padding: 0 50px;
        }
             }

@media(max-width: 947px){
    .max-width{
        padding: 0 50px;
        
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: color 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    /* skills section */
section{
    padding: 100px 0;
}
.skills-container{
    background-color: #2BB3DD;
}
.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right .span{
    font-weight: 500;
    font-size: 18px;
}

@media(max-width: 690px){
    max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
}
.home .home-content .text-3{
    font-size: 32px;
   }
   .home .home-content a{
    font-size: 20px;
    padding: 9px 30px;
    }
}

@media(max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
}
.home .home-content .text-3{
    font-size: 27px;
   }
}
.about-container{
    background-color: #00bdbd;
}
.education-container{
    background-color: #eeeeee;
}
.bg-redtype{
    background-color: #f8857f;
}

.bg-redtype:hover{
    background-color: blue!important;
}
.redtype-color{
    color: #f8857f;
}
.circle{
    background-color: #f8857f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #2BB3DD;
}

.form-container{
    background-color: #474d5d;
}
.inner-form{
    background-color: whitesmoke;
}

.footer{
    background-color: #2BB3DD;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2BB3DD;
}
.circle:hover{
    background-color: #474D5D;
}

